<div class="grid">
  <div class="col-3">
    <h3>Menus:</h3>
    <p-listbox
      [options]="menus"
      optionLabel="label"
      optionValue="label"
      [(ngModel)]="selectedMenu"
      (onChange)="menuSelected()"
    />

    <p-inputGroup class="mt-1">
      <input
        type="text"
        pInputText
        placeholder="New Menu"
        [(ngModel)]="pendingMenuName"
        (keyup.enter)="addMenu()"
      />
      <button type="button" pButton class="p-button-success">
        <fa-icon [icon]="icons.add" />
      </button>
    </p-inputGroup>
  </div>
</div>
