:host {
  display: block;
  max-width: 1080px;
  margin: 0 auto;

  ::ng-deep {
    .dropzone,
    .dragzone {
      min-width: 50%;
      min-height: 100%;
    }

    .dropzone {
      background: #4376d5;
    }

    .p-tree-node-label {
      display: block;
      width: 100%;
    }

    .p-inplace {
      .p-inputtext {
        width: 70%;
      }
    }
  }
}
