:host {
  display: block;
  max-width: 1080px;
  margin: 0 auto;

  ::ng-deep {
    .dropzone,
    .dragzone {
      min-width: 50%;
      min-height: 100%;
    }

    .p-treenode-label {
      display: block;
      width: 100%;
    }
  }
}
