::ng-deep {
  p-inplace {
    .p-inplace {
      display: inline;
      font-size: 1.5rem;
      font-weight: 700;

      .p-inplace-display {
        background: rgba(255, 255, 255, 0.03);
        color: rgba(255, 255, 255, 0.87);

        &:hover {
          background: rgba(255, 255, 255, 0.87);
          color: #000;
        }
      }
    }
  }
}

:host {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}

.save-indicator {
  background: #00000057;
}