@if (formGroup$ | async; as formGroup) {
<div [formGroup]="formGroup">
    <p-card header="Create new {{contentType}}">
        <app-title-input [formGroup]="formGroup"></app-title-input>
    </p-card>

    <app-editor [content]="getContent(formGroup)" [formGroup]="formGroup"></app-editor>

    <app-taxonomy-input [formGroup]="formGroup"></app-taxonomy-input>

    <p-card formGroupName="seo">
        <p-floatLabel>
            <textarea id="description" class="w-full" rows="5" pInputTextarea formControlName="description">
                </textarea>
            <label for="description">Description</label>
        </p-floatLabel>
    </p-card>

    <p-card>
        <div class="flex justify-content-left gap-3">
            <p-button [label]="buttonText" (onClick)="save(formGroup)" />
            @if(content.status === 'draft' && formGroup.valid){
            <p-button label="Publish" (onClick)="save(formGroup)" />
            }
        </div>
    </p-card>
</div>
}