@if (formGroup) {
  <p-card [formGroup]="formGroup" class="content-form">
    <ng-template #title>
      <div class="flex items-center justify-between">
        <span>
          @if (isNew) {
            Create New
          } @else {
            Edit {{ formTitle }}
          }
        </span>
        <p-select formControlName="type" [options]="contentTypes" />
      </div>

      <p-divider />
    </ng-template>

    @if (showTitle) {
      <app-title-input />
    }

    @for (field of fields; track field) {
      @switch (field.type) {
        @case ("editor") {
          <app-editor></app-editor>
        }

        @case ("image") {
          <app-image-selector></app-image-selector>

          <p-divider />
        }

        @case ("rating") {
          <app-rating-input [field]="field" />

          <p-divider />
        }

        @case ("textarea") {
          <app-text-input [field]="field" />

          <p-divider />
        }

        @case ("tags") {
          <app-taxonomy-input />

          <p-divider />
        }

        @case ("text") {
          <app-string-input [field]="field" />

          <p-divider />
        }
      }
    }

    <div class="flex justify-between gap-4 items-end">
      <div class="flex justify-content-left gap-4">
        <p-button
          [label]="buttonText"
          (onClick)="save()"
          [disabled]="formGroup.invalid"
        />

        @if (status === "draft") {
          <p-button
            label="Publish"
            (onClick)="publish()"
            [disabled]="formGroup.invalid"
          />
        }
        @if (status === "published") {
          <p-button
            label="Unpublish"
            (onClick)="unpublish()"
            [disabled]="formGroup.invalid"
          />
        }
        @if (!isNew) {
          <p-button
            label="Delete"
            (onClick)="delete($event)"
            [disabled]="formGroup.invalid"
          />
        }
      </div>

      @if (status === "published") {
        <app-blue-sky (shared)="save()" [content]="content" />
      }
    </div>
  </p-card>
}

<p-toast />

<p-confirmpopup />

@if (saveIndicator) {
  <p
    class="save-indicator m-0 fixed bottom-0 left-0 right-0 pb-1 text-right pr-1"
  >
    {{ saveIndicator }}
  </p>
}
