@if (formGroup) {

@if(showCropper){
<app-cropper [image]="image" (imageCropped)="crop($event)"></app-cropper>
}

<p-divider styleClass="py-1">
    <strong>Image Info:</strong>
</p-divider>

<div [formGroup]="formGroup" class="flex-grow-1">

    @if(!image.data.id) {
    <p-floatLabel>
        <input id="name" type="text" class="w-full" pInputText formControlName="name" />
        <label for="name">File Name</label>
    </p-floatLabel>

    <p-divider styleClass="py-2" type="dotted" />
    }

    <p-floatLabel>
        <input id="alt" type="text" class="w-full" pInputText formControlName="alt" />
        <label for="alt">Alt Text</label>
    </p-floatLabel>

</div>

}

<p-divider styleClass="py-1" />

<div class="flex gap-2">
    <p-button label="Save" (onClick)="saved.emit(formGroup.value)" />
    <p-button label="Cancel" severity="warning" (onClick)="canceled.emit()" />

</div>