<ul>
  @if (isLoading) {
    <li>
      <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
    </li>
  }

  @if (!contents.length && !isLoading) {
    <li class="py-2">No {{ contentType() }} found</li>
  }

  @for (content of contents; track $index) {
    <li class="flex justify-content-between align-items-center my-1">
      <a
        class="flex-grow-1 p-button p-button-link block text-left no-underline px-0"
        routerLink="/edit/{{ content.slug }}"
        >{{ content.title }} ({{ content.status }})</a
      >
      <div class="my-2 flex gap-1">
        <p-button
          [outlined]="true"
          severity="info"
          routerLink="/edit/{{ content.slug }}"
          pTooltip="Click to Edit"
          tooltipPosition="left"
          ><fa-icon [icon]="icons.edit"
        /></p-button>

        <p-button
          [outlined]="true"
          severity="danger"
          (onClick)="delete($event, content.id)"
          pTooltip="Click to Delete"
          tooltipPosition="left"
          ><fa-icon [icon]="icons.delete"
        /></p-button>

        @if (content.status === "draft") {
          <p-button
            [outlined]="true"
            severity="success"
            (onClick)="setStatus(content, 'published')"
            pTooltip="Click to Publish"
            tooltipPosition="left"
            ><fa-icon [icon]="icons.publish"
          /></p-button>
        } @else {
          <p-button
            [outlined]="true"
            severity="success"
            (onClick)="setStatus(content, 'draft')"
            pTooltip="Click to Unpublish"
            tooltipPosition="left"
            ><fa-icon [icon]="icons.unpublish"
          /></p-button>
        }
      </div>
    </li>
  }
</ul>

<a class="createButton" routerLink="/create/{{ contentType() }}">
  <fa-icon [icon]="icons.create" />
</a>

@if (total > 10) {
  <p-paginator
    (onPageChange)="pageChanged($event)"
    [first]="0"
    [rows]="10"
    [totalRecords]="total"
  />
}

<p-toast />

<p-confirmPopup />
