ul {
  list-style-type: none;
  padding: 0.25rem;
  width: 90vw;
  margin: 0 auto;
  li {
    border-bottom: 1px solid var(--primary-color);
  }
}

.createButton {
  font-size: 3rem;
  color: var(--primary-color);
  position: fixed;
  right: 5vw;
  bottom: 1vw;
}
