<figure class="relative text-center" (mouseenter)="showButtons = true" (mouseleave)="showButtons=false">
    <p-image [src]="node.attrs.src" [alt]="node.attrs.alt"></p-image>

    @if(node.attrs.caption) {
    <figcaption>
        {{node.attrs.caption}}
    </figcaption>
    }

    @if (showButtons) {
    <div class="card flex justify-content-center absolute top-0 left-0 right-0">
        <p-buttonGroup>
            <p-button (onClick)="launchEditor()" title="Edit">
                <fa-icon [icon]="icons.edit"></fa-icon>
            </p-button>
            <p-button (onClick)="launchMediaLibrary()" title="Replace">
                <fa-icon [icon]="icons.replace"></fa-icon>
            </p-button>
        </p-buttonGroup>
    </div>
    }
</figure>

@if (image) {
<p-dialog [(visible)]="showEditor" [maximizable]="true" [modal]="true">
    <app-image-editor [image]="image"></app-image-editor>
</p-dialog>
}