<div class="media-selector">
  <ngx-dropzone (change)="onDrop($event)" [accept]="fileTypes">
    <ngx-dropzone-label>Click, or Drop Files Here</ngx-dropzone-label>
  </ngx-dropzone>

  <div class="media-selector-previews" *ngIf="media.length || uploads.length">
    <app-media-uploader *ngFor="let upload of uploads" [file]="upload" (onSelect)="mediaSelected($event)"
      (onUploadComplete)="uploadComplete($event)">
    </app-media-uploader>

    <app-image-preview class="media-selector-preview" *ngFor="let media of media" [media]="media"
      (onSelect)="mediaSelected($event)">
    </app-image-preview>
  </div>
</div>
