<p-fileUpload (uploadHandler)="handleUpload($event)" [multiple]="true" [auto]="true" [customUpload]="true"
    accept="image/*"></p-fileUpload>

<section class="flex flex-wrap">
    @for (media of mediaList; track $index) {
    <div class="w-4">
        <app-image-card [caption]="getCaption(media.data.id)" [image]="media" (imageSelected)="selectImage($event)"
            (imageEdited)="editImage(media, $event)"></app-image-card>
    </div>
    }
</section>
<div class="card flex justify-content-center">
    <p-paginator (onPageChange)="pageChanged($event)" [first]="0" [rows]="12" [totalRecords]="total" />
</div>