<p-card>
    <h3 class="pb-2 mt-0">Tags:</h3>
    <p-floatLabel>
        <p-autoComplete #tagSearch [(ngModel)]="selectedTag" inputStyleClass="w-full" styleClass="w-full"
            [suggestions]="filteredTaxonomies" (completeMethod)="filterTaxonomies($event)" field="name"
            (onSelect)="taxonomySelected($event)" inputId="tag-selector">
            <ng-template pTemplate="empty">
                @if (checkCurrentFilter()) {
                No Results Found
                } @else {
                <p-button title="Add new tag" (onClick)="createNewTag()">
                    Add new tag named: {{currentFilter | titlecase}}
                </p-button>
                }
            </ng-template>
        </p-autoComplete>
        <label for="tag-selector">Add Tags</label>
    </p-floatLabel>

    <ng-template pTemplate="footer">
        <div class="card flex align-items-center gap-2 flex-wrap">
            @for (tag of currentTaxonomies; track tag.id) {
            <p-chip [label]="tag.name" [removable]="true" />
            }
        </div>
    </ng-template>

</p-card>