/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@plugin "tailwindcss-primeui";

body {
  font-family: "Times New Roman", Times, serif;
  h2 {
    font-size: 1.5em;
  }
}

@layer components {
  .ProseMirror {
    a {
      color: var(--color-green-500);
      &:hover {
        color: var(--color-green-800);
      }
    }
  }
}
