/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@plugin "tailwindcss-primeui";

body {
  font-family: "Times New Roman", Times, serif;
  h2 {
    font-size: 1.5em;
  }
}

@layer components {
  .ProseMirror {
    a {
      color: var(--color-green-500);
      &:hover {
        color: var(--color-green-800);
      }
    }
  }

  tiptap-editor {
    .tiptap {
      &:focus-visible {
        outline: none;
      }

      &.ProseMirror {
        min-height: 50vh;
        padding: 5px 10px;
        color: #ffffff;
        font-family: "Courier New", Courier, monospace;
        font-size: 18px;
        line-height: 1.75rem;

        &:focus-visible {
          outline: none;
        }

        > * + * {
          margin-top: 0.75em;
        }

        a {
          color: var(--color-green-500);
          &:hover {
            color: var(--color-green-800);
          }
        }

        ul,
        ol {
          padding: 0 1rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          line-height: 1.1;
        }

        code {
          background-color: rgba(#616161, 0.1);
          color: #616161;
        }

        pre {
          background: #0d0d0d;
          color: #fff;
          font-family: "JetBrainsMono", monospace;
          padding: 0.75rem 1rem;
          border-radius: 0.5rem;

          code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
          }
        }

        img {
          max-width: 100%;
          height: auto;
        }

        blockquote {
          padding-left: 1rem;
          border-left: 2px solid rgba(#0d0d0d, 0.1);
        }

        hr {
          border: none;
          border-top: 2px solid rgba(#0d0d0d, 0.1);
          margin: 2rem 0;
        }

        .column-block {
          display: flex;
          border: 1px dotted gray;
          .column {
            &:not(:first-child) {
              border-left: 1px dotted gray;
            }

            flex: 1;
          }
        }

        .videoBlock {
          width: 100%;
          margin: 15px auto;

          .videoWrap {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;

            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
