
// fonts:
$primary-font: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;


// colors:
$background: #eeeeee;
$light-gray: #e1e0e0;
$green: #15a908;
$red: #a00303;
$blue: #121cab;
